/.idea/
/.vagrant/
/vendor/

.env
/sites/**/.env

/var/logs/*
!/var/logs/.keepme

/var/cache/
!/var/cache/.keepme

/var/data/database/
!/var/data/database/.keepme

/sites/**/var/cache/
!/sites/**/var/cache/.keepme

# ignore log files and databases
*.log
*.sql
*.sqlite